@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>iterablecom-dotnet</h2>
    </div>
    <div class="col-md-4"></div>
</div>